* { /*Selector universal */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Contenido+Padding */
}

:root{
    --titulos: #466455; 
    --ColorPrincipal: white;
    --ColordeFuente: rgb(0, 0, 0);
    --ColordeFondo: rgb(207, 207, 207);
    --ColorSeparador: Blue;
}

body{
    background: var(--ColordeFondo);
    font-family: 'Lexend Deca'; /*Fuente agregada desde HTML5*/
}

.Encabezado{
    display: flex;
    justify-content: space-between;
    background-color: var(--ColorPrincipal);
    padding: 20px;
    align-items: center;
}

