* {
    /*Selector universal */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /*Contenido+Padding */
}

:root {
    --ColorPrincipal: white;
    --ColordeFuente: rgb(0, 0, 0);
    --ColordeFondo: rgb(207, 207, 207);
    --ColorSeparador: Blue;
    --ColorKODA: #fda31b;
}

body {
    background: var(--ColordeFondo);
    font-family: 'Lexend Deca';
    /*Fuente agregada desde HTML5*/
    width: 100%;
}

header {
    background-color: var(--ColorPrincipal);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    height: 10%;
    width: auto;
    max-width: 75px;
    min-width: 35px;
}

.Titulo {
    font-size: clamp(1.5rem, 5vw, 2rem)
        /*Mínimo, ideal, Máximo*/
}

.LogoyTitulo {
    display: flex;
    align-items: center;
    gap: 5px;
}


.Menu ul {
    display: flex;
    gap: 25px;
}

.Menu li {
    list-style-type: none;
    display: flex;
    gap: 25px;
    cursor: pointer;
    align-items: center;
}

.Menu li a {
    text-decoration: none;
    color: var(--ColordeFuente);
}

.DonaBoton {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    background: var(--ColorKODA);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Lexend Deca';
}